graft src
graft tests

recursive-include docs/source *.py
recursive-include docs/source *.rst
recursive-include docs/source *.png
include docs/Makefile

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store *.gpickle

exclude .bumpversion.cfg Dockerfile docker-compose.yml
include *.rst *.txt *.yml LICENSE tox.ini .flake8 doc8.ini .coveragerc
